<div *ngIf="hero">
  <h2>{{ hero.nome | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{hero.id}}</div>
  <div>
    <span>nome: </span>{{hero.nome}}</div>
  <div>
    <input [(ngModel)]="hero.nome" placeholder="Nome">
  </div>
  <button (click)="voltar()">Voltar</button>
  <button (click)="salvar()">Salvar</button>
</div>
