<div *ngIf='messagesService.messages.length'>
  <h2>Messages</h2>
  <div *ngFor='let message of messagesService.messages'>{{ message }}</div>

  <button class="clear" (click)="messagesService.clear()">Clear</button>
</div>
