<h2>My Heroes:</h2>
<div>
  <label>Hero name:
    <input #heroNome placeholder="Nome"/>
  </label>
  <button (click)="add(heroNome.value); heroNome.value=''">Add</button>
</div>
<p *ngIf="selectedHero"> {{selectedHero.nome}} Rocks!</p>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/details/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.nome}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>